

header {
    background-color: white;
    height: 80px;
    margin: 10px
}

.logo {
    vertical-align: middle;
    line-height: 40px;
}

.title {
    vertical-align: middle;
    display: inline-block;
}

main {
    background-color: rgb(223, 130, 130);
}

.container {
    background-color: white;
    padding: 10vh 2rem;
    padding-top: 1vh;
    padding-right: 2rem;
    padding-bottom: 10vh;
    padding-left: 5rem;
}

.badge_task {
    height: 30px;
    width: 80px;
    background-color: rgb(38, 148, 148);
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: white;
    border-radius: 5px;
    display: inline-block;
}
.badge_editorial {
    height: 30px;
    width: 100px;
    background-color: rgb(38, 148, 148);
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: white;
    border-radius: 5px;
    display: inline-block;
}